


	
punkte-hp {

	font-family: 'VT323', monospace;
    color: #98b598;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;

}


wurfanzahl {

	font-family: 'VT323', monospace;
    color: #98b598;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;

}