
/* ************************************************
							ALLGEMEIN
   ************************************************ */

/* COLOR PALETTE
	- BG 						#0a0f0a
	- text 					#98b598

	- borders 				#4a7a4a4d			//same bei kartenhover (border + shadow) && button
	- border shadow out	#000000cc			//dark, für "hervorgehoben"-Effekt
	- border shadow in	#4a7a4a4d			//green wie border, für "cyber"-Effekt

	- fill 					#141914d9
	- fill button			#0a0f0a


EINZELOPFER
	- augen								#98b598
	- augen shadow						#6aff6a für besseren glow (oder #6aff6a55 - naah, more GLOW)

	- border wuerfel:lock			#98b598 (augen) oder #4a7a4a (button-rand fav!) oder #6aff6a (falls leuchtender)
	- shadow out						#6aff6a55 (oder #4a7a4a4d - naah)
	- shadow in							#4a7a4a4d oder #6aff6a88 falls leuchtender
	
	- border + text button:hover	#4a7a4a leuchtender (bloß nicht auch 6aff6a.. zuuu viel glow xD)

*/





	
body {

	 display: flex;						/* ÄNDERN? weil sonst links abgeschnitten 
	 											- um alles zentriert zu haben, mach lieber extra 
												wrapper außen herum!! bzw. nutze spielfeld dafür?*/
												/* oder so lassen – Stapel eh nicht wichtig lolol */
    flex-direction: column;
    align-items: center;				/* WAIT! oder hier center weg!! dann overflow-x workable*/
    justify-content: center;

    height: 100vh;				/* evtl anpassen */
    margin: 0;						/* evtl anpassen */
	 
    background: #0a0f0a;

    font-family: 'VT323', monospace;
    color: #98b598;	
}






/* ************************************************
   			SPIELFELD: STAPEL & KARTEN
   ************************************************ */

.spielfeld {

	display: flex;
	justify-content: center; /* evtl. center?? */
   /*align-items: center;  ne, nicht mehr, sonst Stapel auch vertikal-mittig */ 
	position: relative;  /* nötig? */
	
	width: max-content;
}



/* ************************************************
   			SPIELFELD: STAPEL & LEER
   ************************************************ */


.stapel-container {
    display: flex;
	 margin-right: 30px;
}


.stapel {
	position: relative; /* evtl. abändern, damit ES NICHT AUS DEM SCREEN FLUTSCHT???*/
	
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;

}


/* Um Hauptcontainer mittig zu haben*/
.leer-container {
    display: flex;

	 margin-left: 30px;
}



.leer {
	position: relative; /* evtl. abändern, damit ES NICHT AUS DEM SCREEN FLUTSCHT???*/
	
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;

	visibility: hidden;

}




/* ************************************************
   			SPIELFELD: GEGNERKARTEN
   ************************************************ */


.haupt-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*gap: px;  /* skip, Abstand lieber einzeln/separat bei .karten und sooo*/

	padding-left: 10px;
	padding-right: 10px;

	width: 80%; /* gecheated, aber egal – so wenigstens mittig*/ /* still needed? evtl. delete*/
	
}



.karten-container {
   display: flex;
   gap: 25px;				/* Abstand zwischen Karten */
	margin-bottom: 20px;	/* space to User-Würfel -> später space to Gegnerwürfel*/
}


.karten {
   width: 200px;
   height: 300px;

	background: #141914d9;
   border: 2px solid #4a7a4a4d;
   border-radius: 8px;
   box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;
}


/* "Klickbar" + Zoom-Hover */
.karten {
	cursor: pointer;
	transition: all 0.3s ease; /* zoom-pace: 0.2? oder 0.3? */
}


.karten:hover {
	box-shadow: 0 0 8px #4a7a4a4d; 
  
	transform: scale(1.05);
}







/* ************************************************
   					PLAYER WÜRFEL
   ************************************************ */

.wuerfel-container {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;  /* Abstand zu Buttons */
}



.wuerfel {
    display: flex;
    justify-content: center;
    align-items: center;
	 position: relative;
	 
	 width: 60px;
    height: 60px;

    background: #141914d9;
    border: 1px solid #4a7a4a4d;
    border-radius: 12px;
    box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;
}


/* "Klickbar" für Würfelauswahl*/
.wuerfel {
	 cursor: pointer;
    transition: 0.2s ease;
}


/* Design wenn locked */
.wuerfel.locked {

    opacity: 0.6;
    border-color: #4a7a4a;  /* aus augenfarbe oder button-rand (fav)?*/
    box-shadow: 0 0 6px #6aff6a55, 0 0 12px #4a7a4a4d inset;

	 /* filter: grayscale(90%);*/  /* LIEBER FÜR WENN GEGNER ES 7LOCKED !!!*/ 
	 
}




/* ************************************************
   						WÜRFELAUGEN
   ************************************************ */

/* Design */
.wuerfel .auge {
	 position: absolute;
	 
    width: 10px;
    height: 10px;
	 
    background: #98b598;
    border-radius: 100%;
    box-shadow: 0 0 8px #6aff6a, 0 0 4px #6aff6a inset;
    
}



/* Augen-Position */

.a1 { top: 20%; left: 20%; }			/* Oben-Links - Auge 1 */
.a2 { top: 20%; right: 20%; }			/* Oben-Rechts - Auge 2 */


.a3 { top: 50%; left: 20%; transform: translateY(-50%);} 			/* Mitte-Links Auge 3 */
.a4 { top: 50%; left: 50%; transform: translate(-50%, -50%); } 	/* Mitte-Mitte Auge 4  */
.a5 { top: 50%; right: 20%; transform: translateY(-50%); } 			/* Mitte-Rechts Auge 5  */

/* geht hier auch ohne translate???*/
/* evtl. alternativ lösen ??? idk, i don't like transform with translate*/

.a6 { bottom: 20%; left: 20%; }		/* Unten-Links - Auge 6 */
.a7 { bottom: 20%; right: 20%; }		/* Unten-Rechts - Auge 7 */





/* ************************************************
   					WÜRFEL-BUTTON
   ************************************************ */
.wuerfel-button {
    position: relative;
	 
    width: 150px;
    height: 55px;

	 margin-bottom: 8px;  /* gap*/

    background: #0a0f0a; 
    border: 1px solid #4a7a4a4d;

	 font-family: 'VT323', monospace;
    color: #98b598;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px; /* oder 2px? */
}


/* Button-Zuschnitt wie bei Menu-Button -- Same oder weg?? */
.wuerfel-button {
clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}



/* "Klickbar" + Zoom-Hover */
.wuerfel-button {
	cursor: pointer;
	transition: 0.2s ease; /* perrrfekt */
}

.wuerfel-button:hover {
   border-color: #4a7a4a;
   color: #4a7a4a;
 
   transform: scale(1.05);
}





/* ************************************************
   						TEST TEST
   ************************************************ */

/*
.spielfeld {
	border: 2px solid #6495ED;
}


.stapel-container {
	border: 2px solid #BA55D3; 
}


.leer-container {
	 border: 2px solid #BA55D3; 
}


.haupt-container {
	border: 2px solid #228B22; 
}


.karten-container {

	border: 2px solid #FF0000; 
}


.wuerfel-container {
	border: 2px solid #FF0000; 
}


*/


/*
BLAU
PINK (links)
PINK (rechts)
GRÜN
ROT
ROT 
*/






