/* ************************************************
					ALLGEMEIN
   ************************************************ */

/* COLOR PALETTE
	- BG 							#0a0f0a
	- text 							#98b598

	- borders 						#4a7a4a4d			//same bei kartenhover (border + shadow) && button
	- border shadow out				#000000cc			//dark, für "hervorgehoben"-Effekt
	- border shadow in				#4a7a4a4d			//green wie border, für "cyber"-Effekt

	- fill 							#141914d9
	- fill button					#0a0f0a


EINZELOPFER
	- augen							#98b598
	- augen shadow					#6aff6a 			//für besseren glow (oder #6aff6a55 - naah, more GLOW)

	- border wuerfel:lock			#98b598 			//(augen) oder #4a7a4a (button-rand fav!) oder #6aff6a (falls leuchtender)
	- shadow out					#6aff6a55 			//(oder #4a7a4a4d - naah)
	- shadow in						#4a7a4a4d 			//oder #6aff6a88 falls leuchtender
	
	- border + text button:hover	#4a7a4a 			//so leuchtender (bloß nicht auch 6aff6a.. zuuu viel glow xD)

*/




/* ************************************************
   		SPIELFELD: GRUNDGERÜST INTERACTIVE PART
   ************************************************ */


/*** Gegner + User-Würfel + Buttons ***/
.haupt-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*gap: px;  /* skip, Abstand lieber einzeln/separat bei .karten und sooo*/

	padding-left: 10px;
	padding-right: 10px;

	width: 80%; 			/* gecheated, aber egal – so wenigstens mittig*/ /* still needed? evtl. delete*/
	
}



/* ************************************************
   						TEST TEST
   ************************************************ */

/*

.haupt-container {
	border: 2px solid #228B22; 
}


*/



/*
BLAU
PINK (links)
PINK (rechts)
GRÜN
ROT
WEIß
ROT 
*/






