
/* ************************************************
					ALLGEMEIN
   ************************************************ */

/* COLOR PALETTE
	- BG 							#0a0f0a
	- text 							#98b598

	- borders 						#4a7a4a4d			//same bei kartenhover (border + shadow) && button
	- border shadow out				#000000cc			//dark, für "hervorgehoben"-Effekt
	- border shadow in				#4a7a4a4d			//green wie border, für "cyber"-Effekt

	- fill 							#141914d9
	- fill button					#0a0f0a


EINZELOPFER
	- augen							#98b598
	- augen shadow					#6aff6a 			//für besseren glow (oder #6aff6a55 - naah, more GLOW)

	- border wuerfel:lock			#98b598 			//(augen) oder #4a7a4a (button-rand fav!) oder #6aff6a (falls leuchtender)
	- shadow out					#6aff6a55 			//(oder #4a7a4a4d - naah)
	- shadow in						#4a7a4a4d 			//oder #6aff6a88 falls leuchtender
	
	- border + text button:hover	#4a7a4a 			//so leuchtender (bloß nicht auch 6aff6a.. zuuu viel glow xD)

*/



/* ************************************************
   			SPIELFELD: GRUNDGERÜST
   ************************************************ */

.spielfeld {

	display: flex;
	justify-content: center;			/* evtl. center?? */
	/*align-items: center;  ne, nicht mehr, sonst Stapel auch vertikal-mittig */ 
	position: relative;					/* nötig? */
	
	width: max-content;

}



/* ************************************************
   			SPIELFELD: STAPEL- & LEER-BOX
   ************************************************ */


.stapel-container {
    display: flex;
	margin-right: 30px;
}


.stapel {
	position: relative;		/* evtl. abändern, damit ES NICHT AUS DEM SCREEN FLUTSCHT???*/
	
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;

}


/* Um Hauptcontainer mittig zu haben*/
.leer-container {
    display: flex;

	 margin-left: 30px;
}



.leer {
	position: relative; /* evtl. abändern, damit ES NICHT AUS DEM SCREEN FLUTSCHT???*/
	
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;

	visibility: hidden;

}



/* ************************************************
   						TEST TEST
   ************************************************ */

/*
.spielfeld {
	border: 2px solid #6495ED;
}


.stapel-container {
	border: 2px solid #BA55D3; 
}


.leer-container {
	 border: 2px solid #BA55D3; 
}

*/



/*
BLAU
PINK (links)
PINK (rechts)
GRÜN
ROT
WEIß
ROT 
*/






