
/* ************************************************
					ALLGEMEIN
   ************************************************ */

/* COLOR PALETTE
	- BG 							#0a0f0a
	- text 							#98b598

	- borders 						#4a7a4a4d			//same bei kartenhover (border + shadow) && button
	- border shadow out				#000000cc			//dark, für "hervorgehoben"-Effekt
	- border shadow in				#4a7a4a4d			//green wie border, für "cyber"-Effekt

	- fill 							#141914d9
	- fill button					#0a0f0a


EINZELOPFER
	- augen							#98b598
	- augen shadow					#6aff6a 			//für besseren glow (oder #6aff6a55 - naah, more GLOW)

	- border wuerfel:lock			#98b598 			//(augen) oder #4a7a4a (button-rand fav!) oder #6aff6a (falls leuchtender)
	- shadow out					#6aff6a55 			//(oder #4a7a4a4d - naah)
	- shadow in						#4a7a4a4d 			//oder #6aff6a88 falls leuchtender
	
	- border + text button:hover	#4a7a4a 			//so leuchtender (bloß nicht auch 6aff6a.. zuuu viel glow xD)

*/


	
body {

	display: flex;								/* ÄNDERN? weil sonst links abgeschnitten 
	 											- um alles zentriert zu haben, mach lieber extra 
												wrapper außen herum!! bzw. nutze spielfeld dafür?*/
												/* oder so lassen – Stapel eh nicht wichtig lolol */
    flex-direction: column;
    align-items: center;						/* WAIT! oder hier center weg!! dann overflow-x workable*/
    justify-content: center;

    height: 100vh;					/* evtl anpassen */
    margin: 0;						/* evtl anpassen */
	 
    background: #0a0f0a;

    font-family: 'VT323', monospace;
    color: #98b598;	
}