


/* ************************************************
   		SPIELFELD: GRUNDGERÜST GEGNER
   ************************************************ */

.gegner-container {
	display: flex;
	gap: 25px;				/* Abstand zwischen Karten */
	margin-bottom: 20px;	/* space to User-Würfel -> später space to Gegnerwürfel*/

}


/* ************************************************
   		SPIELFELD: DESIGN GEGNERKARTEN
   ************************************************ */


/*** Karten-Design ***/
.karten {
	width: 200px;
	height: 300px;

	background: #141914d9;
	border: 2px solid #4a7a4a4d;
	border-radius: 8px;
	box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;
}


/*** "Klickbar" + Zoom-Hover ***/
.karten {
	cursor: pointer;
	transition: all 0.3s ease; /* zoom-pace: 0.2? oder 0.3? */
}


.karten:hover {
	box-shadow: 0 0 8px #4a7a4a4d; 
  
	transform: scale(1.05);
}



/* ************************************************
   			SPIELFELD: KARTE INKL. WÜRFEL
   ************************************************ */

/*** Gegnerkarte-SINGLE inkl. Gegnerwürfel ***/
.single-container {
	display: flex;
	flex-direction: column;

	gap: 10px;
	margin-bottom: 30px;

}


/*** nur Gegnerwürfel ***/
.gw-container {
    display: flex;
    gap: 10px;   
    justify-content: center;

}

/*** Gegnerwürfel-Design ***/
.gegner-wuerfel {
	width: 40px;
	height: 40px;

    background: #141914d9;
    border: 1px solid #4a7a4a4d;
    border-radius: 8px;
    box-shadow: 0 0 12px #000000cc, 0 0 6px #4a7a4a4d inset;

}







/* ************************************************
   						TEST TEST
   ************************************************ */
/*

.gegner-container {
	border: 2px solid #8b224e; 
}

.single-container {
	border: 2px solid #FF0000; 
}

.karten {
	border: 1px solid #fff;
}

.gw-container {
	border: 2px solid #22298b; 
}


*/



/*
BLAU
PINK (links)
PINK (rechts)
GRÜN
ROT
WEIß
ROT 
*/






